* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
  row-gap: 16px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.text-button {
  color: #3223B3;
  text-decoration: underline;
}